# 编译产物
go-freerdp-webconnect
build/
install/

# Go 相关
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.sum

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# 临时文件
*.log
*.tmp
.claude/settings.json
src/FreeRDP
FINAL_STATUS.md
COMPILE_STATUS.md
API_MIGRATION_PROGRESS.md
BUILD.md
gofreerdp
总结.md
.claude/settings.json.manjian
.claude/settings.json.manjian.local
.claude/settings.json.whale
.claude/settings.json.whale.local
.claude/settings.local.json
frontend/src/wailsjs
.superpowers